@charset "UTF-8";

select + .select2 {
	width: 100% !important;
}

#result_length {
	& > label {
		display: inlnie-block;
		margin-right: 10px;
	}
}

#cancel {
	margin-bottom: 0;
}

@media (max-width: 768px){
	.modal {
		margin-left: 0;

		.modal-dialog {
			top: 30%;
		}
	}
}

@media (min-width: 991px){
	.nav-md .modal {
		margin-left: 230px;
		
		.modal-dialog {
			top: 30%;
		}
	}

	.nav-sm .modal {
		margin-left: 0px;
		
		.modal-dialog {
			top: 30%;
		}
	}
}

#sendMail {
	.form-group {
		display: block;
		margin-bottom: 10px;

		.form-control {
			width: 100%;
		}

		label {
			text-align: right;
		}

		select {
			width: 100%;
		}

		#mailTitle {
			width: 100%;
		}

		#mailMessage {
			width: 100%;
		}
	}
}

#addItem, #addCounter, #addTask, #setStatus {
	.form-control {
		width: 100%;
	}
}

.dt-buttons.btn-group {
	float: right;
	margin-left: 15px;
}

#confirm {
	margin-left: 10px;
}