@charset "UTF-8";

%lineCenter {
	content: " ";
	display: inline-blcok;
	vertical-align: middle;
	height: 100%;
}
%lineMiddle {
	display: inline-block;
	vertical-align: middle;
}

#deploy_form {
	width: 100%;

	.select2 {
		width: 100% !important;
	}
}
